# Ignorar dependências (serão instaladas dentro do container)
node_modules

# Ignorar arquivos de build (não necessários para o dev server)
dist
.vite

# Ignorar logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.local

# Arquivos de IDEs
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
