# Django
SECRET_KEY=django-insecure-dev-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Master
DB_NAME=master_db
DB_USER=postgres
DB_PASSWORD=postgres_dev_password
DB_HOST=postgres
DB_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# Celery
CELERY_BROKER_URL=amqp://rabbitmq:rabbitmq_dev_password@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/1
