# Django
DEBUG=False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,sunops.com.br,www.sunops.com.br
CORS_ALLOWED_ORIGINS=https://sunops.com.br,https://www.sunops.com.br

# Database
DB_NAME=crm_solar
DB_USER=postgres
DB_PASSWORD=postgres

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
